version: "3.8"
services:
  movies:
    image: sumanth7420/paytmmovies:latest
    ports:
      - "81:80"
    deploy:
      replicas: 3

  train:
    image: sumanth7420/paytmtrain:latest
    ports:
      - "82:80"
    deploy:
      replicas: 3      

  dth:
    image: sumanth7420/paytmdth:latest
    ports:
      - "83:80"
    deploy:
      replicas: 3  

  recharge:
    image: sumanth7420/paytmrecharge:latest
    ports:
      - "84:80"
    deploy:
      replicas: 3
